<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes</title>
    <style>
        /* Add your CSS styles for the government schemes tab here */
        body {
            font-family: Arial, sans-serif;
            background-color: #e5f2e5;
            color: #333;
            padding: 20px;
        }
        
        .scheme {
            background-color: #d9ffe2;
            border-radius: 5px;
            box-shadow: 0 0 10px rgb(79, 75, 75);
            padding: 20px;
            margin-bottom: 20px;
        }
        
        .scheme h2 {
            color: #5705a398;
            /* Add hover effect */
            transition: color 0.3s ease;
        }
        
        .scheme h2:hover {
            color: #2a00b3; /* Change color on hover */
        }
        
        .scheme p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Government Schemes</h1>

    <div class="scheme" >
        <h2>Ministry of Agriculture & Farmers Welfare</h2>
       <p><strong>Schemes for Welfare of Farmers</strong></p>
        <p>Details of schemes being run by Department of Agriculture and Farmers’ Welfare for welfare/increasing incomes of farmers and the achievements made therein, scheme-wise are attached in Annexure:</p>
        <p><strong>Brief of major schemes implemented by the Department of Agriculture and Farmers Welfare</strong></p>
        <p>I. <strong>Central Sector Schemes</strong></p>
        <ol>
            
            <li>
                <h3>Pradhan Mantri Kisan Samman Nidhi (PM-KISAN) <a href="https://pmkisan.gov.in/"> more info </a></h3>
                <p>PM-KISAN is a central sector scheme launched on 24th February 2019 to supplement financial needs of land holding farmers, subject to exclusions. Under the scheme, financial benefit of Rs. 6000/- per year is transferred in three equal four-monthly installments into the bank accounts of farmers’ families across the country, through Direct Benefit Transfer (DBT) mode. Till now, Rs. 2.81 lakh crores have been transferred through Direct Benefit Transfer (DBT) to more than 11 crores beneficiaries (Farmers) through various instalments.</p>
            </li>
            <li>
                <h3>Pradhan Mantri Kisan MaanDhan Yojana (PM-KMY) <a href="https://maandhan.in/">more info</a></h3>

                <p>Pradhan Mantri Kisan Maandhan Yojna (PMKMY) is a central sector scheme launched on 12th September 2019 to provide security to the most vulnerable farmer families. PM-KMY is contributory scheme, small and marginal farmers (SMFs), subject to exclusion criteria, can opt to become member of the scheme by paying monthly subscription to the Pension Fund. Similar, amount will be contributed by the Central Government. The applicants between the age group of 18 to 40 years will have to contribute between Rs. 55 to Rs. 200 per month till they attain the age of 60. PMKMY is taking care of the farmers during their old age and provides Rs. 3,000 monthly pension to the enrolled farmers once they attain 60 years of age, subject to exclusion criteria. Life Insurance Corporation (LIC) is pension fund manager and registration of beneficiaries is done through CSC and State Govts. So far 23.38 lakh farmers have enrolled under the scheme.</p>
            </li>
            <li>
                <h3>Pradhan Mantri Fasal Bima Yojana (PMFBY)<a href="https://pmfby.gov.in/">more info</a></h3>
                <p>PMFBY was launched in 2016 in order to provide a simple and affordable crop insurance product to ensure comprehensive risk cover for crops to farmers against all non-preventable natural risks from pre-sowing to post-harvest and to provide adequate claim amount. The scheme is demand driven and available for all farmers A total of 5549.40 lakh farmer applications were insured under the scheme since 2016-17 and Rs 150589.10 crore has been paid as claim.</p>
            </li>
            <li>
                <h3>Modified Interest Subvention Scheme (MISS)<a href=" https://www.nabard.org/content1.aspx?id=602&catid=23&mid=23"> more info</a> </h3>
                <p>The Interest Subvention Scheme (ISS) provides concessional short term agri-loans to the farmers practicing crop husbandry and other allied activities like animal husbandry, dairying and fisheries. ISS is available to farmers availing short term crop loans up to Rs.3.00 lakh at an interest rate of 7% per annum for one year. Additional 3% subvention is also given to the farmers for prompt and timely repayment of loans thus reducing the effective rate of interest to 4% per annum. The benefit of ISS is also available for post-harvest loans against Negotiable Warehouse Receipts (NWRs) on crop loans for a further period of six months post-harvest to small and marginal farmers having Kisan Credit Cards (KCCs), on occurrence of natural calamities and severe natural calamities. As on 05-01-2024, 465.42 lakh new KCC applications have been sanctioned with a sanctioned credit limit of Rs. 5,69,974 crore as part of the drive.</p>
            </li>
            <li>
                <h3>Agriculture Infrastructure Fund (AIF)<a href="https://vikaspedia.in/schemesall/schemes-for-farmers/agriculture-infrastructure-fund">more info</a></h3>
                <p>In order to address the existing infrastructure gaps and mobilize investment in agriculture infrastructure, Agri Infra Fund was launched under Aatmanirbhar Bharat Package. AIF was introduced with a vision to transform the agriculture infrastructure landscape of the country. The Agriculture Infrastructure Fund is a medium - long term debt financing facility for investment in viable projects for post- harvest management infrastructure and community farming assets through interest subvention and credit guarantee support. The Fund of Rs. 1 lakh crore under the scheme will be
            </li>
            <li>
                <h3> Formation & Promotion of new 10,000 FPOs<a href="https://pib.gov.in/Pressreleaseshare.aspx?PRID=1696547">more info</a></h3>
                <p> The Government of India launched the Central Sector Scheme (CSS) for “Formation and Promotion of 10,000 Farmer Producer Organizations (FPOs)” in the year 2020. The scheme has a total budgetary outlay of Rs.6865 crores. Formation & promotion of FPOs are to be done through Implementing Agencies (IAs), which further engage Cluster Based Business Organizations (CBBOs) to form & provide professional handholding support to FPOs for a
                    period of 5 years. FPOs get a financial assistance upto Rs 18.00 lakh per FPO for a period of 03 years. In addition to this, provision has been made for matching equity grant upto Rs. 2,000 per farmer member of FPO with a limit of Rs. 15.00 lakh per FPO and a credit guarantee facility upto Rs. 2 crore of project loan per FPO from eligible lending institution to ensure institutional credit accessibility to FPOs. Suitable provisions have been made for training and skill development of FPOs.
                    Further, FPOs are onboarded on National Agriculture Market (e-NAM) platform which facilitate online trading of their agricultural commodities through transparent price discovery method to enable FPOs to realize better remunerative prices for their produce.
                    As on 31.12.2023, total 7,774 FPOs were registered under the scheme in the country.</p>
            </li>
            <li>
                <h3>National beekeeping and Honey Mission (NBHM)<a href=" https://nbb.gov.in/default.html">more info</a></h3>
                <p> Keeping in view the importance of beekeeping, a new Central Sector Scheme entitled National Beekeeping & Honey Mission (NBHM) was launched in 2020 under Atma Nirbhar Bharat Abhiyan for its implementation in the field for overall promotion and development of scientific beekeeping & to achieve the goal of “Sweet Revolution”. Some of the achievements include;

                   • Honeybees/ beekeeping have been approved as 5th Input for Agriculture.
                   • 4 World Class State of the Art Honey Testing Labs and 35 Mini Honey Testing Labs have been sanctioned under 
                   • National Beekeeping & Honey Mission (NBHM) for testing of honey.
                   • Madhukranti portal has been launched for online registration of Beekeepers/ Honey Societies/ Firms/ Companies.
                   • Till date 23 lakhs bee colonies registered on Portal.
                   • 100 Honey FPOs targeted under 10,000 FPOs scheme in the country. 88 FPOs have been registered by NAFED, NDDB & TRIFED.
                   • 25 States/UTs have been covered under NBHM under MM-I, II & III.
                   • 160 Projects sanctioned under MM- I, II & III of Rs. 202.00 crores.</p>
            </li>
            <li>
                <h3> Market Intervention Scheme and Price support Scheme (MIS-PSS)<a href="https://pib.gov.in/PressReleaseIframePage.aspx?PRID=1809685">more info</a></h3>
                <p>Ministry of Agriculture & Farmers Welfare implements the Price Support Scheme (PSS) for procurement of pulses, oilseeds and copra. Market Intervention Scheme (MIS) for procurement of agricultural and horticultural commodities which are perishable in nature and are not covered under the Price Support Scheme (PSS). The objective of intervention is to protect the growers of these commodities from making distress sale in the event of a bumper crop during the peak arrival period when the prices tend to fall below

                    economic levels and cost of production. </p>
            </li>
            <li>
                <h3> Namo Drone Didi<a href="https://pib.gov.in/PressReleasePage.aspx?PRID=1985070">more info</a></h3>
                <p> The Government has recently approved a Central Sector Scheme for
                    providing drones to the Women Self Help Group (SHGs) for the
                    period from 2024-25 to 2025-26 with an outlay of Rs. 1261 Crores. The scheme aims to provide drones to 15000 selected Women Self Help Group (SHGs) for providing rental services to farmers for agriculture purpose (application of fertilizers and pesticides). Under this Scheme, Central Financial Assistance @ 80% of the cost of drone and accessories/ancillary charges upto a maximum of Rs. 8.0 Lakhs will be provided to the women SHGs for purchase of drones. The Cluster Level Federations (CLFs) of SHGs may raise the balance amount (total cost of procurement minus subsidy) as loan under National Agriculture Infra Financing Facility (AIF). Interest subvention @ 3% on the AIF loan will be provided to the CLFs. The scheme will also provide sustainable business and livelihood support
                    to SHGs and they would be able to earn additional income of at least of Rs. 1.0 lakh per annum.</p>
            </li>
            <li>
                <h3>Rastriya Krishi Vikas Yojana-Detailed  Project
                    Report based schemes (RKVY- DPR)<a href="https://rkvy.nic.in/">more info</a></h3>
                <p>The scheme focuses on creation of pre & post-harvest infrastructure in agriculture and allied sectors that help in supply of quality inputs, market facilities, etc to farmers. It provides flexibility and autonomy to states to implement projects as per the local farmers’ needs and priorities from a bouquet of activities in agriculture and allied sectors. The scheme aims to fill the resources gap of agriculture and allied sectors by providing financial support to states for undertaking various activities to increase in overall growth of agriculture and allied sectors and farmers’ income.

                    Under RKVY Agri- Programme, since 2019-20, 1524 Start-ups have been selected and Rs. Rs. 106.25 crore released as grants-in-aid for funding the Start-ups.</p>
            </li>
            <li>
                <h3>Soil Health Card (SHC)<a href="https://soilhealth.dac.gov.in/home"> more info </a></h3>
                <p> Soil health card provides information to farmers on nutrient status of their soil along with recommendation on appropriate dosage of nutrients to be applied for improving soil health and its fertility. The indicators are typically based on farmers' practical experience and knowledge of local natural resources. The card lists soil health indicators that can be assessed without the aid of technical or laboratory equipment. The Scheme rolls out a decentralized system of soil testing which will help in developing a nationwide soil fertility map on a GIS platform that can easily be integrated with the real time decision support systems being developed. In order to develop the soil fertility map, Government of India has decided to conduct 5 Crore Soil Samples across the country during year 2023-24 to 2025-26.</p>
            </li>
        </ol>
    </div>
</body>
</html>
